<p></p>

<div class='row'>
	<div class='col-10 text-end'>
		<%#=link_to "download", download_scores_path%>
	</div>
	<div class='col-2 text-end'>
		<%=link_to "view pdf", format: :pdf%>
	</div>
</div>

<%prev_rank = 0 %>

<%@ranking.sort_by{|k,v| v[1]}.reverse.each do |part,v|%>

	<%rank = (prev_rank==v[0]) ? nil : v[0]%>
	<%score =  v[1]%>

	<%=render 'score', rank: rank, score: score, part: part %>
	<%prev_rank = rank%>

<%end%>

