<p></p>

<div class='row'>
	<div class='col-10 text-end'>
		<%#=link_to "download", download_scores_path%>
	</div>
	<div class='col-2 text-end'>
		<%=link_to "view pdf", format: :pdf%>
	</div>
</div>

<%prev_score = 'score' %>
<%=@ranking.class%>

<%@ranking.each do |part|%>

	<% rank = part[1] %>
	<% score = part[2] %>

	<% rank = nil if score == prev_score  %>

	<%=render 'score', rank: rank, score: score, part: Participant.find(part[0]) %>

	<%prev_score = score %>

<%end%>

