<div id="<%= dom_id fair_play_ranking %>">
  <p>
    <strong>Team:</strong>
    <%= fair_play_ranking.team_id %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= fair_play_ranking.points %>
  </p>

</div>
