<div class='row bordered'>


	<div class='col-3'>
		<%= ranking.team.name%>
	</div>
	<div class='col-3'>
		<%= ranking.points%>
	</div>

	<div class='col-3'>
		<%= nldt ranking.updated_at%>
	</div>

	
	<div class='col-3'>
		<%=ranking.id%>
	</div>
</div>
