<% content_for :title, "New fair play ranking" %>

<h1>New fair play ranking</h1>

<%= render "form", fifa_fair_play_ranking: @fifa_fair_play_ranking %>

<br>

<div>
  <%= link_to "Back to fair play rankings", fifa_fair_play_rankings_path %>
</div>
