<p id="notice"><%= notice %></p>



<div class='row'>
  <div class='col-12'>
    <h1>Participants</h1>
  </div>
</div>




<% @participants.each do |part| %>
<div class='row t-area'>
  <div class='col-2'>
    <%=part.name%>
  </div>

    <div class='col-2'>
    <%=part.email%>
  </div>


  <div class='col-2'>
    <%=link_to showIcon, participant_path(part.id)%>
  </div>
</div>
<%end%>
