<div class='row'>
	<div class='col-6'>
		home
	</div>
</div>



<div class='row'>
	<div class='col-6'>
		<%= button_to "print all scores", write_all_final_scores_scores_path, class: "btn btn-warning btn-xl"%>
	</div>
</div>




<div class='row'>&nbsp;</div>

