<p id="notice"><%= notice %></p>

<h1>Games</h1>


  <%@games.each do |stage, games|%>
    <div class='row'>
      <div class='col-12'>
        <h2><%=Game.stages.invert[stage]%></h2>
      </div>
  </div>

    <%games.each do |game|%>
      <%=render 'games/game', game: game%>
    <% end %>




  <%end%>




