<div class='row'>
	<div class='col-2'>
		<%=player.name%>
	</div>

	<div class='col-2 text-center'>
		<%=iconCheck?(player.top, size: (player.top? ? 1.5 : 0.7))%>
	</div>

	<div class='col-2 text-center'>
		<%=iconCheck?(player.best,size: (player.best? ? 1.5 : 0.7))%>
	</div>

	<div class='col-6'>
		&nbsp;
	</div>

</div>