<p id="notice"><%= notice %></p>

<div class='row>'>
  <div class='col-12'>
    <h1>Players</h1>
  </div>
</div>


<div class='row'>
  <div class='col-8'>

    <div class='row'>
      <div class='col-2'>
        naam
      </div>
      <div class='col-2 text-center'>
        top-scorer
      </div>

      <div class='col-2 text-center'>
        top-speler
      </div>


      <div class='col-6'>
        &nbsp;
      </div>

    </div>


    <% @players.each do |player| %>
      <%=render 'player', player: player%>
    <%end%>
  </div>

  <div class='col-4'>

    <div class='row'>
      <div class='col-12 text-center'>
        <%= link_to 'wijzig top-players', edit_many_topplayers_players_path,  class: "btn btn-primary btn-xl"%>
      </div>
    </div>

    <div class='row'>
      <div class='col-12'>
        &nbsp;
      </div>
    </div>

    <div class='row'>
      <div class='col-12 text-center'>
        <%= link_to 'wijzig top-scorers', edit_many_topscorers_players_path,  class: "btn btn-primary btn-xl"%>
      </div>
    </div>

  </div>

</div>




