@import "mixins";

body{

/*	background-color: #d1d0cd;*/
	margin:3em;
}



.t-area{
	background-color:white;
	margin-top:1em;
	margin-botton: 1em;
	@include borders(4px,#D3D3D3)

}

.btn-xl {
    width:60%;
}

.bordered{
	border: 1px solid;
}